.modal-content {
  transform-origin: center;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.scale-95 {
  transform: scale(0.95);
}

.scale-100 {
  transform: scale(1);
}

/* Fade-in animation */
.fade-in {
  animation: fadeIn 0.5s forwards;
}

/* Fade-out animation */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}